.todoContainer{
  max-width: 500px;
  margin: 50px auto;
  h3{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;
  }
  &_list{
    display: flex;
    flex-direction: column;
    margin-top: 24px;

    &_item{

      &:not(:last-child){
        margin-bottom: 12px;
        border-bottom: 1px solid lightgray;
        padding-bottom: 12px;
      }

    }
  }

  .divFooter{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}